*.pyc
*.swp
*.swo
.cache/*
temp/*

# Data files
*.dat
*.csv
datasets/*

# Coverage
*.coverage
htmlcov
coverage_report.txt

# Sphinx
docs/_build
docs/lib.rst
docs/util.rst

# pycharm
.idea/*

# mac
.DS_Store
